<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/css/bootstrap-datepicker.css" rel="stylesheet">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.5.0/js/bootstrap-datepicker.js"></script>

</head>
    <body>
        <nav class="navbar navbar-dark bg-dark">
            <div class=" mr-auto">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                <a class="ml-2" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="ml-2" href="{% url 'djangoapp:about' %}">About</a>
                <a class="ml-2" href="{% url 'djangoapp:contact' %}">Contact us</a>
            </div>
            <div class="navbar-right">
                {% if user.is_authenticated %}
                    <a class="text-primary">({{ user.username }})</a>
                    <a class="ml-2" href="{% url 'djangoapp:logout' %}">Log Out</a>
                {% else %}
                <form class="form-inline" action="{% url 'djangoapp:login' %}" method="POST">
                    {% csrf_token %}
                    <div class="input-group">
                        <input type="text" name="username" class="form-control" placeholder="Username" >
                        <input type="password" name="password" class="form-control" placeholder="Password" >
                        <button class="btn btn-primary" type="submit">Login</button>
                        <a class="btn btn-link" href="{% url 'djangoapp:registration' %}">Sign Up</a>
                </form>
                {% endif %}
            </div>
        </nav>
        <div class="container">
            <h1 class="text-center">
                Welcome to <b>Best</b> Cars dealership, home to the best cars in North America. We sell domestic and imported cars at reasonable prices.
            </h1>
        </div>
    </body>
</html>