<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
    <body>
        <!-- Navigation Menu -->
        <nav class="navbar navbar-dark bg-dark">
            <div class=" mr-auto">
                <a class="navbar-brand" href="{% url 'djangoapp:index' %}">Dealership Review</a>
                <a class="ml-2" href="{% url 'djangoapp:index' %}">Home</a>
                <a class="ml-2" href="{% url 'djangoapp:about' %}">About</a>
                <a class="ml-2" href="{% url 'djangoapp:contact' %}">Contact us</a>
            </div>
        </nav>

        <!--Add a registration form here -->
        
        <div class="container">
            <h1>Sign Up</h1>
            <hr>
            <form action="{% url 'djangoapp:registration' %}" method="POST">
                <label for="username"><b>User Name</b></label>
                <input type="text" class="form-control" name="username" placeholder="Enter User Name:" required> <br>
                <label for="firstname"><b>First Name</b></label>
                <input type="text" class="form-control" name="firstname" placeholder="Enter First Name:" required> <br>
                <label for="lastname"><b>Last Name</b></label>
                <input type="text" class="form-control" name="lastname" placeholder="Enter Last Name:" required> <br>
                <label for="password"><b>Password</b></label>
                <input type="password" class="form-control" name="password" placeholder="Enter Password:" required> <br>

                {% csrf_token %}
                <button class="btn btn-primary mt-3" type="submit">Sign Up</button>
            </form>
        </div>
    </body>
</html>